@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.boarder-place {
    /* background-color: #282c34; */
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px;
    /* border: 2px solid #282c34; */
}
.each-card{
    border: 4px solid #282c34;
    height: 120px;
    width: 120px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.each-card.flip{
    transform: rotateY(180deg);
}
.each-card:active{
    transform: scale(.97);
    transition: transform .2s;
}
.back {
    backface-visibility: hidden;
}
.front{
    transform: rotateY(180deg);
}

.each-card img{
    width: 120px;
    height: 120px;
    /* border: 2px solid #282c34; */
    position: absolute;
    /* padding: 8px; */
    object-fit: cover;
}